.overline{
    color: var(--main-green);
}

.receta{
    border-style: solid;
    border-radius: 10px;
    border-width: 1pt;
    border-color:transparent;
    transition: 0.2s;
}

.recipe-info-card{
    position: relative;
}

.close-icon{
    position: absolute;
    top: 0px;
    right: 0px;
}

.reload{
    transition-duration: 0.8s;
    transition-property: transform;
}


.info_receta{
    background-color: transparent;
}
.receta:hover{
    border-color: var(--main-green);
}

.v-card:hover{
    box-shadow: 3px 3px 3px 2px  rgba(15, 34, 19, 0.2);
}
