.v-card{
    margin-bottom: .5rem;
    transition: box-shadow 0.3s;
}


.receta{
    border-style: solid;
    border-radius: 20px;
    border-width: 1pt;
    border-color:transparent;
    transition: 0.3s;
}

.nutri-info{
    margin-top: 1rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    width: 100%;
}


.info_receta{
    background-color: transparent;
}
.receta:hover{
    border-color:green;
}

.v-card:hover{
    box-shadow: 3px 3px 3px 2px  rgba(15, 34, 19, 0.2);
}